* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

body {
    background: #181818;
    color: #ffffff !important;
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex !important;
    width: 300px !important;
    height: 100% !important;
    flex-direction: column !important;
    background: #121212;
    gap: 150px !important;

    h1 {
        font-size: 28px !important;
    }

    .head {
        margin-top: 50px !important;
        text-align: center !important;
        align-items: center !important;

        img {
            margin-top: 12px !important;
        }
    }
}

ul {
    margin-top: 36px;
    list-style: none;
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
}

li {
    transition: all 0.2s ease-in-out;
    padding: 12px 24px !important;
}

li:hover:not(.active) {
    background: #B771E5 !important;
}


a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: inherit !important;
    text-decoration: none !important;
}

a > img {
    fill: black;
}


svg {
    fill: #fff;
}

.main-content {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
}

.topbar {
    background: #121212 !important;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px !important;

    .search > input {
        padding: 3px 6px !important;
        border-radius: 6px !important;
        font-size: 16px;
    }

    .user-profile {
        align-items: center;
        display: flex;
        gap: 12px;
        img {
            width: 50px;
            border-radius: 50%;
        }
    }
}

.content {
    padding: 20px !important;
}

.active {
    span {
        color: #B771E5 !important;
    }
    svg {
        fill: #B771E5;
    }
}

.card {
    padding: 12px !important;
    transition: all 0.1s ease-in-out;

    .card-body {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .btn {
        color: #fff !important;
        padding: 6px 12px !important;
        border: none;
    }

    .btn:hover  {
        background: #ad5be4 !important;
        border: none;
    }
}

.card:hover {
    scale: 1.02;
}

.card-title {
    margin-top: 12px !important;
}

.settings-item {
    background: #181818;
    color: #ffffff;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.settings-item:hover {
    background: #B771E5;
}

.list-group {
    border: none !important;
    border-radius: 0;
}